<?xml version="1.0" encoding="UTF-8"?>
<search>
    <total_items>639</total_items>
    <page_size>10</page_size>
    <page_count>64</page_count>
    <page_number>1</page_number>
    <page_items></page_items>
    <first_item></first_item>
    <last_item></last_item>
    <search_time>0.119</search_time>
    <events>
        <event id="E0-001-128591884-1">
            <title>YA Book Club Meeting</title>
            <url>http://sandiego.eventful.com/events/ya-book-club-meeting-/E0-001-128591884-1?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> &lt;p&gt;&lt;p&gt;December&amp;#39;s Pick!&lt;/p&gt;&lt;/p&gt;</description>
            <start_time>2019-10-18 19:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000104270-1</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/mysterious-galaxy-books-/V0-001-000104270-1?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Mysterious Galaxy Books</venue_name>
            <venue_display>1</venue_display>
            <venue_address>5943 Balboa Avenue, Suite #100</venue_address>
            <city_name>San Diego</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92111</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>32.8194505</latitude>
            <longitude>-117.1774477</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-07-08 23:04:42</created>
            <owner>evdb</owner>
            <modified>2019-09-23 19:46:27</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130941601-8">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130941601-8?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000152470-0</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-mira-mesa-/V0-001-000152470-0?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp; Noble Booksellers Mira Mesa</venue_name>
            <venue_display>1</venue_display>
            <venue_address>10775 Westview Parkway</venue_address>
            <city_name>San Diego</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92126</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>32.9166044</latitude>
            <longitude>-117.1193975</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:28:28</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:28:28</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130940862-0">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130940862-0?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000152591-2</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-trolly-square-/V0-001-000152591-2?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp; Noble Booksellers - Trolly Square</venue_name>
            <venue_display>1</venue_display>
            <venue_address>9938 Mission Gorge Road</venue_address>
            <city_name>Santee</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92071</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>32.839126963261464</latitude>
            <longitude>-116.98023519451215</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:19:15</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:19:15</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130940798-6">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130940798-6?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000152368-6</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-escondido-/V0-001-000152368-6?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp; Noble Booksellers Escondido</venue_name>
            <venue_display>1</venue_display>
            <venue_address>810 West Valley Parkway</venue_address>
            <city_name>Escondido</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92025</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>33.1184502</latitude>
            <longitude>-117.0934743</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:18:25</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:18:25</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130941329-7">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130941329-7?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000152370-1</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-encinitas-/V0-001-000152370-1?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp; Noble Booksellers Encinitas</venue_name>
            <venue_display>1</venue_display>
            <venue_address>1040 N. El Camino Real Drive</venue_address>
            <city_name>Encinitas</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92024</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>33.0657568</latitude>
            <longitude>-117.2658664</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:23:57</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:23:57</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130940564-1">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130940564-1?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-009244252-9</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-bookstarcosta-verd-/V0-001-009244252-9?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp; Noble Booksellers - Bookstar/Costa Verde</venue_name>
            <venue_display>1</venue_display>
            <venue_address>8650 Genessee Avenue, #230</venue_address>
            <city_name>San Diego</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92122</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>32.86931697943678</latitude>
            <longitude>-117.21512309940567</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:16:20</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:16:20</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130940891-2">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130940891-2?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000402425-6</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-oceanside-/V0-001-000402425-6?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp;amp; Noble Booksellers Oceanside</venue_name>
            <venue_display>1</venue_display>
            <venue_address>2615 Vista Way</venue_address>
            <city_name>Oceanside</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92054</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>33.1817997</latitude>
            <longitude>-117.331256</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:19:33</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:19:33</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130940561-4">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130940561-4?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000577106-9</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-and-noble-bookstar-/V0-001-000577106-9?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes and Noble - Bookstar</venue_name>
            <venue_display>1</venue_display>
            <venue_address>3150 Rosecrans Place</venue_address>
            <city_name>San Diego</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92110</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>32.7459923</latitude>
            <longitude>-117.2101719</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:16:19</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:16:19</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130940607-5">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130940607-5?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000152472-8</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-rancho-bernardo-/V0-001-000152472-8?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp; Noble Booksellers Rancho Bernardo</venue_name>
            <venue_display>1</venue_display>
            <venue_address>11744 Carmel Mountain Road</venue_address>
            <city_name>San Diego</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92128</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>32.9814683</latitude>
            <longitude>-117.0791906</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:16:42</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:16:42</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
        <event id="E0-001-130940612-7">
            <title>Kids' Book Hangout Event</title>
            <url>http://sandiego.eventful.com/events/kids-book-hangout-event-/E0-001-130940612-7?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</url>
            <description> Books can take you on amazing adventures through magical lands, the great outdoors, and even school! Join us for our fall Kids&amp;#39; Book Hangout to discover your next great, adventurous read. Connect with fellow readers, play games and activities, and take home giveaways! Bring a friend and we&amp;#39;ll see you there. Plus, get a coupon for a $1 Rice Krispy Bar (Café stores only). </description>
            <start_time>2019-10-19 14:00:00</start_time>
            <stop_time></stop_time>
            <tz_id></tz_id>
            <tz_olson_path>America/Los_Angeles</tz_olson_path>
            <tz_country></tz_country>
            <tz_city></tz_city>
            <olson_path>America/Los_Angeles</olson_path>
            <venue_id>V0-001-000402309-9</venue_id>
            <venue_url>http://sandiego.eventful.com/venues/barnes-noble-booksellers-mission-valley-/V0-001-000402309-9?utm_source=apis&amp;utm_medium=apim&amp;utm_campaign=apic</venue_url>
            <venue_name>Barnes &amp;amp; Noble Booksellers Mission Valley</venue_name>
            <venue_display>1</venue_display>
            <venue_address>7610 Hazard Center Drive #315</venue_address>
            <city_name>San Diego</city_name>
            <region_name>California</region_name>
            <region_abbr>CA</region_abbr>
            <postal_code>92108</postal_code>
            <country_name>United States</country_name>
            <country_abbr2>US</country_abbr2>
            <country_abbr>USA</country_abbr>
            <latitude>32.7709846</latitude>
            <longitude>-117.1581384</longitude>
            <geocode_type>EVDB Geocoder</geocode_type>
            <all_day>0</all_day>
            <recur_string></recur_string>
            <calendar_count></calendar_count>
            <comment_count></comment_count>
            <link_count></link_count>
            <going_count></going_count>
            <watching_count></watching_count>
            <created>2019-09-27 05:16:44</created>
            <owner>evdb</owner>
            <modified>2019-09-27 05:16:44</modified>
            <performers></performers>
            <image></image>
            <privacy>1</privacy>
            <calendars></calendars>
            <groups></groups>
            <going></going>
        </event>
    </events>
</search>